body {
    background-color: black;
    font-family: 'Courier New', monospace;
    color: white;
}



.MissionCard {
    border: 1px solid white;
    margin: 5px;
    padding: 5px;
}

button {
    color: white;
    background-color: black;
    width: 100px;
    padding: 5px;
    margin: 5px;
}

.MissionAction button {
    border: 2px solid green;
}

.MissionFilter button {
    border: 2px solid red;
}